{% extends 'base.html' %}
{% load static%}

{% block content %}
{{block.super}}
    <title> {{ title }} </title>
    <div class="container-fluid">


    <div class="landing">

        <div class="landing-page">
            <div class="cover">
            <div class="title">
                    <h2>ELECTION LIVE RESULTS</h2>
                    <p>KEEP AN EYE ON YOUR VOTES HERE</p>
                </div>


                <nav class="categories">
                  <div class="nav nav-tabs nav-justified category" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link cat active" id="all-listings-tab" data-toggle="tab" href="#all-listings" role="tab" aria-controls="all-listings" aria-selected="true">Polling units</a>
                    <a class="nav-item nav-link cat" id="apartments-tab" data-toggle="tab" href="#apartments" role="tab" aria-controls="apartments" aria-selected="false">Wards</a>
                    <a class="nav-item nav-link cat" id="bungalows-tab" data-toggle="tab" href="#bungalows" role="tab" aria-controls="bungalows" aria-selected="false">Local Governments</a>
                    <a class="nav-item nav-link cat" id="mansionattes-tab" data-toggle="tab" href="#mansionattes" role="tab" aria-controls="mansionattes" aria-selected="false">States</a>
                  </div>
                </nav>
            </div>
        </div>
    </div>
  
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="all-listings" role="tabpanel" aria-labelledby="all-listings">

            <div class="container content">
                <div class="row">
                  
                    {{total}}

                    <ul class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button" data-toggle="dropdown"
                           style="font-family: 'Kodchasan', sans-serif;" aria-haspopup="true" aria-expanded="false">
                         FILTER BY POLLING UNITS
                         
                        </a>
                        {%if new_poll %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% for poll_unit in new_poll %}
                          <a class="dropdown-item" style="font-family: 'Kodchasan', sans-serif;" href="/?poll_unit={{poll_unit.id}}">{{poll_unit.polling_unit_name}}</a>
                          <div class="dropdown-divider"></div>
                          {% endfor %}
                        </div>
                        {% endif%}
                      </ul>
  

                   <h4 class="property" style="color:blue"> <b> Polling Units </b></h4>
                   {% if p_units %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for p_unit in p_units %}
                       <div class="col-sm-2 col-md-1"></div>
                                   <div class="col-sm-8 col-md-10">
                                       <div class="card article">
                                           <div class="card-body">
                                               <div class="row ml-1" >
                                                <h4 class="card-title" style="color:blue; font-size: 24px"><i class="fas fa-map-marked-alt"></i> Polling Units</h4>
                                                <h4 class="card-title ml-auto mr-3" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Votes Results</h4>
                                               </div>
                                               <hr>
                                               <div class="row ml-1" >
                                                   <div>
                                                    <p class="card-title" style="color:blue; font-size: 28px; font-weight: bold;"><i class="fas fa-map-marked-alt"></i> {{p_unit.polling_unit_name}}</p>
                                                   </div>
                                               <div class=" ml-auto mr-3" >
                                                <p class="card-title" style="color:blue; font-size: 20px"> PDP <span > {{p_unit.pdp}}</span> </p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> DPP <span > {{p_unit.dpp}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> ACN <span> {{p_unit.acn}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> PPA <span> {{p_unit.ppa}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> CDC <span> {{p_unit.cdc}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> JP <span> {{p_unit.jp}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> ANPP <span> {{p_unit.anpp}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px"> LABOUR <span> {{p_unit.labour}}</span></p>
                                                <p class="card-title" style="color:blue; font-size: 20px">CPP <span> {{p_unit.cpp}}</span></p>
                                                
                                               </div>
                                                
                                               </div>
                                              
                                               <!-- <p class="metadata">Located in  </p> -->
                                               <p class="metadata" style="color:blue;"> <b>Polling unit description</b> {{p_unit.polling_unit_description}}</p>
                                               <!-- <p> <small class="text-muted">{{p_unit.party_id.party_name}} | {{p_unit.party_score}}</small></p> -->
                                             

                                               <hr>
                                               <p class="metadata mb-0 mt-0" > <p style="color:blue;"> <small> Posted on {{p_unit.date_entered}}</small> <br> <i>  <small> <b>by  {{p_unit.user.username}} </b></small> </i></p>
                                        
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2 col-md-1"></div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="apartments" role="tabpanel" aria-labelledby="apartments">

            <div class="container content">
               <div class="row">
                   <h4 class="property" style="color:blue"> <b> Wards </b></h4>
                   {% if wards %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for ward in wards %}
                       <div class="col-sm-2 col-md-1"></div>
                                   <div class="col-sm-8 col-md-10">
                                       <div class="card article">
                                           <div class="card-body">
                                            <div class="row ml-1" >
                                                <h4 class="card-title" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Polling Units</h4>
                                                <h4 class="card-title ml-auto mr-3" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Votes Results</h4>
                                               </div>
                                               <hr>
                                               <p class="card-title" style="color:blue; font-size:28px;">{{ward.ward_name}}</p>
                                               <!-- <p class="metadata">Located in {{ward.polling_unit_name}}</p> -->
                                               <!-- <p class="metadata">Priced at AED {{ward.party_score}}</p> -->
                                               <!-- <p> <small class="text-muted">Ward description {{ward.ward_description}} </small></p> -->
                                               <p class="metadata" style="color:blue;"> <b>Ward description</b> {{ward.ward_description}}</p>
 
                                               <p class="metadata mt-3"> <small> Posted on {{ward.date_entered}}</small></p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2 col-md-1"></div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                    
               </div>
          </div>
        </div>
        <div class="tab-pane fade" id="bungalows" role="tabpanel" aria-labelledby="bungalows">

            <div class="container content">
               <div class="row">

                <ul class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown"
                       style="font-family: 'Kodchasan', sans-serif;" aria-haspopup="true" aria-expanded="false">
                     FILTER BY LOCAL GOVERNMENT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for lga in new_lga %}
                      <a class="dropdown-item" style="font-family: 'Kodchasan', sans-serif;" href="/?lga={{lga.id}}">{{lga.lga_name}}</a>
                      <div class="dropdown-divider"></div>
                      {% endfor %}
                    </div>
                  </ul>

                   <h4 class="property" style="color:blue"> <b> Local Governments </b></h4>
                   {% if lgas %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for lga in lgas %}
                       <div class="col-sm-2 col-md-1"></div>
                                   <div class="col-sm-8 col-md-10">
                                       <div class="card article">
                                           <div class="card-body">
                                            <div class="row ml-1" >
                                                <h4 class="card-title" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Polling Units</h4>
                                                <h4 class="card-title ml-auto mr-3" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Votes Results</h4>
                                               </div>
                                               <hr>
                                               <p class="card-title" style="color:blue;font-size: 28px">{{lga.lga_name}}</p>
                                               <p class="metadata">description of Local Gov. {{lga.lga_description}}</p>
                                               <!-- <p class="metadata">Priced at AED {{lga.ward_id.party_score}}</p> -->
                                               <!-- <p> <small class="text-muted">{{bungalow.category}} | {{bungalow.bedrooms}}</small></p> -->

                                               <p class="metadata mt-3" style="color:blue;"> <small> Posted on {{lga.date_entered}} </small></p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2 col-md-1"></div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                     
               </div>
          </div>
        </div>
        <div class="tab-pane fade" id="mansionattes" role="tabpanel" aria-labelledby="mansionattes">

            <div class="container content">
               <div class="row">
                   <h4 class="property" style="color:blue"> <b> States </b></h4>
                   {% if states %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for state in states %}
                       <div class="col-sm-2 col-md-1"></div>
                                   <div class="col-sm-8 col-md-10">
                                       <div class="card article">
                                           <div class="card-body">
                                            <div class="row ml-1" >
                                                <h4 class="card-title" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Polling Units</h4>
                                                <h4 class="card-title ml-auto mr-3" style="color:blue; font-size: 26px"><i class="fas fa-map-marked-alt"></i> Votes Results</h4>
                                               </div>
                                               <hr>
                                               <p class="card-title" style="color:blue; font-size: 28px">{{state.state_name}}</p>
                                               <p class="metadata" style="color:blue;">number of votes {{state.state_id.lga_description}}</p>
                                               <!-- <p class="metadata">posted by {{state.state_id.entered_by_user}}</p>
                                               <p> <small class="text-muted">{{mansionatte.category}} | {{mansionatte.bedrooms}}</small></p> -->
                                              
                                               <p class="metadata mt-3" style="color:blue"> <small> Posted on {{state.state_id.date_entered}}</small></p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2 col-md-1"></div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                     
               </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <!-- <p class="container__terms d-flex justify-content-center ">By signin up, you agree to our <br> <strong>Terms & Privacy Policy.</strong></p> -->
            <p class="container__terms d-flex justify-content-center "> <small>&copy; <i style="color:blue"> liveResult.com</i> 2020 <br> <strong>Terms & Privacy Policy. </small> </strong></p>
      </div>

</div>

{% endblock %}